{% extends 'base.html' %}
{% block content %}

<h3>Please enter your name, a stock symbol you'd like to talk about, a date that will reference the stocks data, and your blog content .</h3>

<div>
<form method="POST" action="http://localhost:5000/home">
    {{ form.hidden_tag() }}
    {{ form.username.label }}{{ form.username() }}<br>
    {{ form.tickers.label }}{{ form.tickers() }}<br>
    {{ form.date.label }}{{ form.date() }}<br>
    {{ form.blog.label }}{{ form.blog() }}<br>
    <br>
	{{ form.submit() }}
</form>
</div>

<br>
<strong><p>This is a public post</i></p><br>

<div>
{% for message in get_flashed_messages() %}
    <strong>{{ message }}</strong>
{% endfor %}
</div>

{% endblock %}
