{% extends 'base.html' %}

{% block content %}
<ul>
{% for b in blogs %}
    <h4> Highest price on {{b[0].date}}: {{ final }} <h4>
    <h4> Lowest price on {{b[0].date}}: {{ final_low }} <h4>
    <li><strong>{{ b[1].tickerD }}:<br> stock info for date: {{ b[0].date }}<br></strong><i></i>{{username}}'s {{ b[0].blog }}</li><br><br>

{% endfor %}
</ul>

{% if not blogs %}
    There are no blogs yet
{% endif %}

<!-- The below is code from discussion -->
<div>
{% for message in get_flashed_messages() %}
    <strong>*** {{ message }} ***</strong>
{% endfor %}
</div>

{% endblock %}
