{% extends 'base.html' %}

{% block content %}
<ul>
{% for b in blogs %}
    <!-- <h4> Highest price on {{b.date}}: {{ final }} <h4>
    <h4> Lowest price on {{b.date}}: {{ final_low }} <h4> -->
    <!-- <li><strong>info on {% for t in ticker %} {{ t.tickerD }} {% endfor %}<br><br> for date: {{ b.date }}<br> -->
    <p>{{ b.blog }} </p>
{% endfor %}
</ul>
 <!-- {%for n in names %}
  <li><strong>posted by: {{ n.username }} <br>
{% endfor %}  -->

{% if not blogs %}
    There are no blogs yet
{% endif %}

<!-- The below is code from discussion -->
<div>
{% for message in get_flashed_messages() %}
    <strong>*** {{ message }} ***</strong>
{% endfor %}
</div>

{% endblock %}
